<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <nav th:replace="index :: nav"></nav>
  
    <p th:text="${welcome}">Welcome to our grocery store!</p>
    
    <p>This page uses a template inside app2</p>
    <p>这个页面使用的是 app2 中的模板</p>
  
  	<p><a href="../">app2 index</a></p>
  
  </body>

</html>